

*::after {
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu" ;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, #66806a5f, #b4c6a65a),
      url("/images/background_body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    text-align: center;
}

.content {
    max-width: 720px;
    margin:auto;
}

#survey-form {
    background-color: #66806aea ;
    border: 3px solid #3c413dea ;
    border-radius: 2%;
    padding: 2.3rem;
    font-size: 1.27rem;
    color: #ececec;
}

.group-input{
    padding: 0.7rem 0rem;
}

.labelposition{
    display: flex;
    padding: 0.4rem 0rem;
}

.inputp{
    width: 100%;
    height: 2.3rem;
    font-size: 1.1rem;
    padding: 0rem 1rem;
    border-radius: 0.20rem;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

/* .pposition{
    padding: 1rem 1.5rem;
} */

/* #dropdown{
    padding: 0.8rem 1.5rem;
} */

/* .radiogroup{
    display: block;
    padding: 0.8rem 1.5rem;
}

.checkgroup{
    display: block;
    padding: 0.8rem 1.5rem;
} */

 .sugg {
    display:block;
    padding: 0.8rem 1.5rem;
    box-sizing: border-box;
}