body {
    font-family: "Ubuntu" ;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, #66806a5f, #b4c6a65a),
      url("/images/background_body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    text-align: center;
}

.content {
    max-width: 720px;
    margin:auto;
}

#survey-form {
    background-color: #66806aea ;
    border-radius: 2%;
}

.group-input{
    padding: 0.8rem 1.5rem;
}

#name-label{
    display: flex;
    padding: 1rem;
}

#email-label{
    display: flex;
}

#number-label{
    display: flex;
}