
*::after {
    box-sizing: border-box;
}

/* applied the fountain to the whole body */
body {
    font-family: "Ubuntu" ;
}

/* Made the backgroun of the page */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, #66806a5f, #b4c6a65a),
      url("https://i.imgur.com/lPc6LMw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Applied green color to radio buttons and checkbox */
input[name="dedicaded"]{
    accent-color: green;
}

input[name="aspect"]{
    accent-color: green;
}

/* Styles part for the header */
.header {
    text-align: center;
    color: #FFF;
    letter-spacing: 0.2rem;
    padding: 2.2rem 0rem 1rem;
}

#title{
    font-size: 2.8rem;
    margin: 0rem;
}

#description{
    font-size: 1.1rem;
}


/* I define the part where all the content will go */
.content {
    max-width: 720px;
    margin:auto;
}

#survey-form {
    background-color: #66806aea ;
    border: 3px solid #3c413dea ;
    border-radius: 2%;
    padding: 2.3rem;
    font-size: 1.27rem;
    color: #ececec;
}

/* first input styles */
.labelposition{
    display: flex;
    padding: 1.2rem 0rem;
}

.inputp{
    width: 100%;
    height: 2.3rem;
    font-size: 1.1rem;
    padding: 0rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}


/* I apply style to the selectors */
#dropdown{
    width: 100%;
    height: 2.3rem;
    font-size: 1.2rem;
    padding: 0rem 1rem;
    border-radius: 0.2rem;
    color: #7b7b7b;
    box-sizing: border-box;
}

/* button radio */
.radiostyle {
    min-width: 1.3rem;
    min-height: 1.3rem;
    background-color: green;
}

/* checkbox */
.checkoption{
    min-width: 1.3rem;
    min-height: 1.3rem;
}


/* Textarea */
 .sugg {
    display:block;
    width: 100%;
    height: 15rem;
    border-radius: 0.2rem;
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
    color: #7b7b7b;
    font-family: "Ubuntu" ;
    box-sizing: border-box;
}

.suggpos{
    margin: 0.5rem 0rem 2rem;
    padding: 0.25rem;
}


/* submit button */
#submit {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.2rem;
    border: 1px solid rgb(6, 78, 6);
    color: #ffffff;
    background-color: rgb(10, 134, 10);
    font-size: 1.1rem;
    box-sizing: border-box;
}

.sumpos {
    padding-bottom: 2rem;
}

.copyfooter{
    margin: 0rem;
}